footer {
  .partner-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 6rem;

    &__databiz {
      max-width: 20%;
    }

    &__audiophile {
      max-width: 14%;
    }

    &__meet {
      max-width: 16%;
    }

    &__maker {
      max-width: 16%;
    }
  }
}
